# Introduction to Programming with Python

**Credit**: While drafting this Jupyter Notebook, I frequently referenced ["Python Crash Course, 2nd Edition: A Hands-On, Project-Based Introduction to Programming"](https://www.amazon.com/Python-Crash-Course-Eric-Matthes-ebook/dp/B07J4521M3/ref=sr_1_4?crid=3SUIIYFVA6N6Q&keywords=python+crash+course+python&qid=1569703647&s=digital-text&sprefix=python+crash+%2Cdigital-text%2C133&sr=1-4) by [Eric Matthes](https://ehmatthes.github.io/). This is an extremely well-written book that provides an excellent, and thorough, introduction to programming in Python that I definitely recommend if you want to carry on learning about the language.

### Sections
- 0) The Zen of Python
- 1) Variables & data types
- 2) Lists
- 3) Operating on lists with for loops
- 4) If else statements
- 5) Dictionaries
- 6) Functions

# Section 0: The Zen of Python
"Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!"
\-[Tim Peters](https://github.com/python/peps/blob/master/pep-0020.txt)

# Section 1: Variables & data types

## 1.1 - Variables
Variables are objects that allow you to store data. In some ways, as you skim the cells below, they may remind you of algebra (e.g., x = 2). In some cases, variables can contain something as simple as a number (like 2) or a name (like "Rod"). But you can also use variables to store a dataframe containing millions of rows and dozens of columns. They can even contain functions (to be discussed later in this notebook) that allow you to perform specific task on your data.

In [1]:
# assign an integer to a variable named x
x = 2

# display x below, thanks to the magic of ipython
x

2

In [2]:
# as in algebra, you can add one variable by another
y = 3
x + y

5

In [3]:
# or multiply
x * y

6

In [5]:
# or take the power of (2^3)
x ** y

8

In [6]:
# you can also assign the output of any of the above operations to a variable
z = x ** y
z

8

In [2]:
# assign my name to a variable
my_name = "Rod"

# display
my_name

'Rod'

In [18]:
# you can also multiply a text variable to repeat it
salutation = "Hello! " # note the whitespace after the exclamation point

# repeat 3 times
salutation * 3

'Hello! Hello! Hello! '

You can also use the "+" sign as a way to concatenate blocks of text together.

In [3]:
# create the beginning
beginning = "My name is " # note the whitespace after "is"

# add a few words at the end
end = ". Nice to meet you!"

# and concatenate three string variables together
beginning + my_name + end

'My name is Rod. Nice to meet you!'

It's worth noting that you can use the print( ) function to output the above text, as well. This is helpful in case you want to print something specific within a cell, or if you are not working in an [IPython](https://ipython.readthedocs.io/en/stable/interactive/tutorial.html) environment, as you are now.

In [11]:
# print the result of concatenating three variables
print(beginning + my_name + end)

My name is Rod. Nice to meet you!

You don't have to use "+" signs to concatenate blocks of text together. You can also use commas with the print() function. However, look what happens when you use commas and you already have blank spaces in your text variables..

In [8]:
# print using commas
print(beginning, my_name, end) # notice the extra blank space included

# print a blank line
print("\n")

# include sep = "" in the print function to remove the blank space the print function inserts at the end by default
print(beginning, my_name, end, sep = "")

My name is  Rod . Nice to meet you!


My name is Rod. Nice to meet you!

You can also print text itself without assigning it to a variable. This might seem unimpressive, but in more advanced scenarios, a print statement could be helpful in letting you know how much progress something is taking. For example, if you're performing some kind of operation on tens of millions of rows, you can have python print every millionth row number (e.g., "Completed row 5,000,000") to keep you up to speed on progress.

In [13]:
# print "Hello World!"
print("Hello World!")

Hello World!

In [17]:
# you can print the output of a numeric operation
print(3*2)

6

## 1.2 - Data types
When I first started with Python, I did not fully appreciate how important data structures are. It might not be readily evident at first, but trust me when I say it is worth understanding the basic Python data structures up front. This sub-section will give a *very* cursory glance at Python's basic data structures, but I recommend [this section](https://www.datacamp.com/community/tutorials/data-structures-python#primitive) of a DataCamp article if you'd like to dive a little deeper on your own.

### Integer
This data type is used to store a whole number. As shown above, you can perform all sorts of numeric operations on these (e.g., add, subtract, multiply, divide, take the power of).

In [12]:
# assign some new integer variables
a = 100
b = 5

# multiply them
a * b

500

In [13]:
# you can apply order of operations (think PEMDAS)
(a + b) * a

10500

If you're ever unsure what data structure you are dealing with, use Python's [type](https://docs.python.org/3/library/functions.html#type) function to check.

In [21]:
# confirm that a is an integer
type(a)

int

### Float
While integers take care of whole numbers, floats are used for *any* real number, and they include decimals.

As an aside, this is an interesting article on Python floats: https://docs.python.org/3/tutorial/floatingpoint.html

In [22]:
# confirm that 1.2 is a float
type(1.2)

float

In [20]:
# or even 1.0
type(1.0)

float

You can perform the same operations described above on floats

In [23]:
# multiply two floats
1.2 * 5.5

6.6

In [24]:
# take the power of
1.2 ** 10.2

6.421680729414928

What happens if you multiply an integer by a float?

In [37]:
# assign variables
integer_num = 2
float_num = 1.5

# display result
integer_num * float_num

3.0

3 is a whole number, but the result of 2 times 1.5 is stored as a float

In [38]:
# display type
type(integer_num * float_num)

float

### Strings
So far, we've been talking about text, but when it comes to Python what we're really talking about is [strings](https://developers.google.com/edu/python/strings). This data types allows you to store words, letters, paragraphs, with no limit that I am aware of

In [25]:
# a one-word string
string1 = "Georgetown"

# display string1
string1

'Georgetown'

In [27]:
# here is the result of using the type function
type(string1)

str

In [14]:
# sentence
string2 = "I wouldn't be surprised to hear 'Hoya Saxa' while taking a walk through Georgetown's campus."

# display
print(string2)

I wouldn't be surprised to hear 'Hoya Saxa' while taking a walk through Georgetown's campus.

Here is a paragraph pulled from Georgetown's [website](https://www.georgetown.edu/about).

In [23]:
# text copied from Georgetown website
string3 = "Georgetown University is one of the world’s leading academic and research institutions, \
offering a unique educational experience that prepares the next generation of global citizens to lead \
and make a difference in the world. We are a vibrant community of exceptional students, faculty, alumni \
and professionals dedicated to real-world applications of our research, scholarship, faith and service."

# display
print(string3)

Georgetown University is one of the world’s leading academic and research institutions, offering a unique educational experience that prepares the next generation of global citizens to lead and make a difference in the world. We are a vibrant community of exceptional students, faculty, alumni and professionals dedicated to real-world applications of our research, scholarship, faith and service.

**Quick note on those back slashes (\\)**: For readability, I hit the enter key to place the entire text in a manner resembling a paragraph, rather than one long line. To be able to hit enter without causing an error, I used the back slash. This is because a backslash is an escape character that, in this case, ignores the fact that I hit the enter key and maintains the next line of text within the same line upon printing. For more information, reference Python's [Lexical Analysis](https://docs.python.org/3/reference/lexical_analysis.html#explicit-line-joining).

By the way, numbers can be stored as strings, too.

In [24]:
# assign a number to a string
number_as_string = "20057"

# display
number_as_string

'20057'

In [35]:
# confirm using type
type(number_as_string)

str

### Booleans
These refer TRUE or FALSE and is binary (think of it as a light switch; it is either one or the other)

In [41]:
# you can quite literally assign True to a variable
bool1 = True

# display
bool1

True

In [42]:
# you can also present python with a logic test, resulting in a boolean
1 > 2

False

In [43]:
# display the type
type(1 > 2)

bool

One neat feature of booleans is that True is treated as a 1 and False is treated as a 0 if you perform a mathematical operation on them.

In [44]:
# add three Trues together
True + True + True

3

In [15]:
# mix in a False
True + False + True

2

In [16]:
# all False
False + False + False

0

The above can be very useful. For example, say you want to check how many values in your dataset are greater than 10. You can count them for yourself, or you can use Python's [sum](https://docs.python.org/3/library/functions.html#sum) function along with the *for* and *in* Python [keywords](https://docs.python.org/3/reference/lexical_analysis.html#keywords) to count in the script.

Below, we will create a Python list (to be discussed more in the next section) of numbers and check how many are greater than 10.

In [17]:
# define your list
list_of_numbers = [2, 20, 5, 6, 34, -89, 1000, 1, 3, 27, 19, 8, 1, 2, 0, -32, 52]

# sum the number of times the logical test (x > 10) is True in the list above
sum(number > 10 for number in list_of_numbers) 

# this for.. in.. syntax will make more sense in Section 3: Operating on lists with for loops

6

### Bonus: [str](https://docs.python.org/3/library/functions.html#func-str) function
As shown above, you can combine a bunch of string variables together with the plus sign, and you can (for example) multiply a float by an integer, but be mindful of mixing a string with an integer by mistake. There's a simple solution to this problem, but it provides a sense of the issues that can arise if you are not careful with the data types you're using.

In [25]:
# this works
print("Georgetown's zip code is " + number_as_string)

Georgetown's zip code is 20057

The code below does not work and will result in an error.

In [26]:
# assign Georgetown's zip code to a variable as an integer
number_as_integer = 20057

print("Georgetown's zip code is " + number_as_integer)

TypeError: must be str, not int

Use the str function to resolve this problem by returning a string version of the integer variable.

In [27]:
# this resolves the issue
print("Georgetown's zip code is " + str(number_as_integer))

Georgetown's zip code is 20057

In [28]:
# what str() returns
str(number_as_integer)

'20057'

# Section 2: Lists
Lists allow you to store sets of information in one location. Lists store data in a specific order, which allows for accessing elements by position, as we'll see in this section.

Below, we'll make a list of capital cities.

In [30]:
# create a list country capitals
capitals_list = ["Washington, D.C.", "Seoul", "Nairobi", "London", "Lima", "San Jose", "New Delhi",
                "Rabat", "Riga", "Montevideo"]

# display the list of capitals
capitals_list

['Washington, D.C.',
 'Seoul',
 'Nairobi',
 'London',
 'Lima',
 'San Jose',
 'New Delhi',
 'Rabat',
 'Riga',
 'Montevideo']

As you can see above, each element of the list is separated by a comma

## 2.1 - Accessing lists

You can access elements within a list numerically (starting with 0 Python) by placing the index value within brackets that immediately follow the list variable

In [12]:
# access the first capital in the list
capitals_list[0]

'Washington, DC'

In [13]:
# access the third capital in the list
capitals_list[2]

'Nairobi'

You can also access the last film in the list using a negative index

In [14]:
# get the last capital in the list
capitals_list[-1]

'Montevideo'

You don't have to limit yourself to one element at a time. For example, you can select multiple elements using a colon and two index positions. However, keep in mind that the slice that is returned is **exclusive** of the second index value. Below, that means cities with indexes of 0, 1, and 2 will be returned.

In [15]:
# get the first three capitals
capitals_list[0:3]

['Washington, DC', 'Seoul', 'Nairobi']

You can also leave the second index position blank to take everything from the first index position onward.

In [31]:
capitals_list[2:]

['Nairobi',
 'London',
 'Lima',
 'San Jose',
 'New Delhi',
 'Rabat',
 'Riga',
 'Montevideo']

And you can use negative numbers to work your way backwards for the starting point.

In [32]:
# get the last three capitals
capitals_list[-3:]

['Rabat', 'Riga', 'Montevideo']

Somewhat of an aside, but it is often worth knowing how long an object is. Python provides the [len](https://docs.python.org/3/library/functions.html#len) function for this purpose, and it can be used to check the length of our list.

In [17]:
# how many elements are in our last?
len(capitals_list)

10

## 2.2 - Modifying lists

You can add capitals to the list. These are some of the most common [operations](https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types):
- Add
    - append
    - insert
- Remove
    - pop
    - del

In [18]:
# append "Mexico City" to the list
capitals_list.append("Mexico City")

# display
capitals_list

['Washington, DC',
 'Seoul',
 'Nairobi',
 'London',
 'Lima',
 'San Jose',
 'New Delhi',
 'Rabat',
 'Riga',
 'Montevideo',
 'Mexico City']

In [19]:
# insert "Tokyo" in the middle of the list
capitals_list.insert(5, "Tokyo") # it will occupy position 5 (6th in the list)

capitals_list

['Washington, DC',
 'Seoul',
 'Nairobi',
 'London',
 'Lima',
 'Tokyo',
 'San Jose',
 'New Delhi',
 'Rabat',
 'Riga',
 'Montevideo',
 'Mexico City']

Pop, by default, removes the last item in your list...

In [20]:
# remove "Mexico City" from the list
capitals_list.pop()

# display
capitals_list

['Washington, DC',
 'Seoul',
 'Nairobi',
 'London',
 'Lima',
 'Tokyo',
 'San Jose',
 'New Delhi',
 'Rabat',
 'Riga',
 'Montevideo']

... but you can remove a specific element from your list if you supply the index

In [21]:
# remove "Tokyo", which occupies index 5 (remember the first element's index is equal to 0)
capitals_list.pop(5)

# display
capitals_list

['Washington, DC',
 'Seoul',
 'Nairobi',
 'London',
 'Lima',
 'San Jose',
 'New Delhi',
 'Rabat',
 'Riga',
 'Montevideo']

We can be more specific and remove a capital by name using remove

In [25]:
# let's remove "London" by name
capitals_list.remove("London")

# display
capitals_list

['Washington, DC',
 'Seoul',
 'Nairobi',
 'Lima',
 'San Jose',
 'New Delhi',
 'Rabat',
 'Riga',
 'Montevideo']

By the way, you can assign the element removed via pop or remove to a variable

In [26]:
# remove last city in list
removed_city = capitals_list.pop()

# display city just removed
removed_city

'Montevideo'

### Bonus: The difference between [sort](https://docs.python.org/3/library/stdtypes.html#list.sort) and [sorted](https://docs.python.org/3/library/functions.html#sorted)
Although there names are quite similar, there is an important distinction between these two functions. Using sort() permanently sorts your list, while sorted only sorts temporarily. We will demonstrate this difference below:

In [28]:
# create a list
unsorted_list1 = ["G", "L", "K", "A", "D"]

unsorted_list1

['G', 'L', 'K', 'A', 'D']

In [30]:
# sort using the sort function
unsorted_list1.sort()

In [31]:
# now, display unsorted_list1
unsorted_list1

['A', 'D', 'G', 'K', 'L']

In [32]:
# create a new unsorted list
unsorted_list2 = ["Z", "C", "O", "E", "V"]

unsorted_list2

['Z', 'C', 'O', 'E', 'V']

In [34]:
# use the sorted function
sorted(unsorted_list2)

['C', 'E', 'O', 'V', 'Z']

In [35]:
# in a separate cell we see that underlying order has not been permanently changed
unsorted_list2

['Z', 'C', 'O', 'E', 'V']

In [37]:
# but you can assign the output to a new variable
sorted_list1 = sorted(unsorted_list2)

sorted_list1

['C', 'E', 'O', 'V', 'Z']

In [36]:
# worth noting you can sort in reverse
sorted(unsorted_list2, reverse=True)

['Z', 'V', 'O', 'E', 'C']

# Section 3: Operating on lists with for loops
[For loops](https://docs.python.org/3/tutorial/controlflow.html#for-statements) allow for operations to be performed on each element within a set of iterable elements (e.g., lists). Whether you need to perform operations on each name in a list of names, or on each row in a table with millions of records, for loops can be of immense value.

Above, we learned how to create lists. With for loops, you can perform operations on each element within

In [6]:
# create a list
iterable_list1 = [1, 2, 4, 6, 8, 10, 12, 14]

In [7]:
# each element to the power of 2
for number in iterable_list1:
    print(number ** 2)

1
4
16
36
64
100
144
196

The text immediately following the "for" can be anything. Above, we used "number" to make it relevant to the context.

In [8]:
# you can use any number
for i in iterable_list1:
    print(i ** 2)

1
4
16
36
64
100
144
196

In [5]:
# if you want to add a bit more detail..
for number in iterable_list1:
    print(str(number) + " squared is equal to " + str(number ** 2))

2 squared is equal to 4
4 squared is equal to 16
6 squared is equal to 36
8 squared is equal to 64
10 squared is equal to 100
12 squared is equal to 144
14 squared is equal to 196

In [6]:
# create a list with names
cities_list = ["Columbus", "Boston", "Los Angeles"]

In [7]:
# append text to each city
for city in cities_list:
    print(city + " is a city in the US")

Columbus is a city in the US
Boston is a city in the US
Los Angeles is a city in the US

It's worth noting the difference between using a for loop on a single word vs a list of words

In [8]:
# assign city variable
city = "Seattle"

# for loop on city
for letter in city:
    print(letter)

S
e
a
t
t
l
e

In [9]:
# compare the above to for loop on list of cities
for city in cities_list:
    print(city)

Columbus
Boston
Los Angeles

# Section 4: If Statements
[If statements](https://docs.python.org/3/tutorial/controlflow.html#if-statements) allow you to take certain actions depending on whether a specific condition is true.

## 4.1 - If-else

Let's make a list containing winners of the UEFA Champions League (UCL) within the last 10 years. We will then apply some tests on variables that we will subsequently create to demonstrate if statement functionality.

In [11]:
# define list of UCL winners since 2009
ucl_winner_last_10_yrs = ["Liverpool", "Real Madrid", "Barcelona", "Bayern Munich", "Chelsea", "Internazionale"]

# display
ucl_winner_last_10_yrs

['Liverpool',
 'Real Madrid',
 'Barcelona',
 'Bayern Munich',
 'Chelsea',
 'Internazionale']

In [12]:
# assign a team to a new variable
team1 = "Liverpool"

Here we will build an if statement that will tell us if the team above is a UCL winner. If not, the else component of the statement will tell us this.

In [13]:
# if statement
if team1 in ucl_winner_last_10_yrs:
    print(str(team1) + " has won the Champions League within the last 10 years.")
else:
    print("Sorry, it doesn't look like this team has won the Champions League in the last decade.")

Liverpool has won the Champions League within the last 10 years.

In [14]:
# now let's try the above with a new team
team2 = "Manchester United"

# repeat if statement, except now with test on team2
if team2 in ucl_winner_last_10_yrs:
    print(str(team1) + " has won the Champions League within the last 10 years.")
else:
    print("Sorry, it doesn't look like " + str(team2) + " has won the Champions League in the last decade.")

Sorry, it doesn't look like Manchester United has won the Champions League in the last decade.

Pretty cool, right? However, you don't have to provide one variable at a time. Let's create a list of teams and have our if statement tell us whether the current Premier League teams have won the Premier League (1992 - present)

In [15]:
# list of Premier League winners
pl_winners = ['Manchester City', 'Chelsea', 'Leicester City', 'Manchester United', 'Arsenal', 'Blackburn Rovers']

In [16]:
# list of current premier league teams
pl_teams = ['Arsenal', 'Aston Villa', 'Bournemouth', 'Brighton & Hove Albion', 'Burnley', 'Chelsea'
            , 'Crystal Palace', 'Everton', 'Leicester City', 'Liverpool', 'Manchester City', 'Manchester United'
            , 'Newcastle United', 'Norwich City', 'Sheffield United', 'Southampton', 'Tottenham Hotspur', 'Watford'
            , 'West Ham United', 'Wolves']

In [17]:
# for loop with an if statement
for team in pl_teams:
    if team in pl_winners:
        print(str(team) + " has won the Premier League.")
    else:
        print(str(team) + " has never won the Premier League.")

Arsenal has won the Premier League.
Aston Villa has never won the Premier League.
Bournemouth has never won the Premier League.
Brighton & Hove Albion has never won the Premier League.
Burnley has never won the Premier League.
Chelsea has won the Premier League.
Crystal Palace has never won the Premier League.
Everton has never won the Premier League.
Leicester City has won the Premier League.
Liverpool has never won the Premier League.
Manchester City has won the Premier League.
Manchester United has won the Premier League.
Newcastle United has never won the Premier League.
Norwich City has never won the Premier League.
Sheffield United has never won the Premier League.
Southampton has never won the Premier League.
Tottenham Hotspur has never won the Premier League.
Watford has never won the Premier League.
West Ham United has never won the Premier League.
Wolves has never won the Premier League.

## 4.2 - If-elif-else
Conditions are not always binary. What if we want to test whether a number is a single digit, a tens digit, or a hundreds digit? Including elif allows you to add a little more complexity to your if statements.

In [9]:
# create a list of numbers
some_numbers = [1, 10, 100, 1000, 10000, 3549823]

In [10]:
# as with above, for loop that applies if statement to each element
for number in some_numbers:
    if len(str(number)) == 1:
        print(str(number) + " is a units digit")
    elif len(str(number)) == 2:
        print(str(number) + " is a tens digit")
    elif len(str(number)) == 3:
        print(str(number) + " is a hundreds digit")
    elif len(str(number)) == 4:
        print(str(number) + " is a thousands digit")
    else:
        print("Wow, " + str(number) + " must be pretty big!")

1 is a units digit
10 is a tens digit
100 is a hundreds digit
1000 is a thousands digit
Wow, 10000 must be pretty big!
Wow, 3549823 must be pretty big!

# Section 5: Dictionaries
So far, we've been assigning single values, or lists of values, to variables. For instance, we've assigned a list of capital cities to a list. But what if we also wanted to map the country that corresponds to each capital? With dictionaries, we can assign keys to values. This, for instance, allows us to map relationships and query values by specific keys.

## 5.1 - Defining and querying dictionaries

In [27]:
# recall we defined capitals_list earlier
capitals_list

['Washington, DC',
 'Seoul',
 'Nairobi',
 'London',
 'Lima',
 'San Jose',
 'New Delhi',
 'Rabat',
 'Riga',
 'Montevideo']

In [12]:
# let's create a dictionary with the respective countries as keys
capitals_dictionary = {
    "USA": "Washington, D.C.",
    "South Korea": "Seoul",
    "Kenya": "Nairobi",
    "Peru": "Lima",
    "Costa Rica": "San Jose",
    "India": "New Delhi",
    "Morocco": "Rabat",
    "Latvia": "Riga",
    "Uruguay": "Montevideo"
}

# display
capitals_dictionary

{'Costa Rica': 'San Jose',
 'India': 'New Delhi',
 'Kenya': 'Nairobi',
 'Latvia': 'Riga',
 'Morocco': 'Rabat',
 'Peru': 'Lima',
 'South Korea': 'Seoul',
 'USA': 'Washington, D.C.',
 'Uruguay': 'Montevideo'}

You will notice that dictionaries are not stored in any particular order, as is the case with lists. That is because we reference values by key, as opposed to index. Below, we'll take a look at how you can reference values inside your dictionary.

In [33]:
# we can query specific countries now
capitals_dictionary["Morocco"]

'Rabat'

While you can query by key, you cannot do so by value.

In [34]:
# we cannot query capitals (they're not key)
capitals_dictionary["Rabat"]

KeyError: 'Rabat'

In [37]:
# we cannot query by index either (as you can with lists)
capitals_dictionary[1]

KeyError: 1

In [35]:
# you can display all countries
capitals_dictionary.keys()

dict_keys(['USA', 'South Korea', 'Kenya', 'Peru', 'Costa Rica', 'India', 'Morocco', 'Latvia', 'Uruguay'])

## 5.2 - Adding to a dictionary
As with lists, we can add information to dictionaries. This process will look much like what you would do to query a key-value pairing.

In [13]:
# add France (key) & Paris (value) to the dictionary
capitals_dictionary["France"] = "Paris"

# display dictionary
capitals_dictionary

{'Costa Rica': 'San Jose',
 'France': 'Paris',
 'India': 'New Delhi',
 'Kenya': 'Nairobi',
 'Latvia': 'Riga',
 'Morocco': 'Rabat',
 'Peru': 'Lima',
 'South Korea': 'Seoul',
 'USA': 'Washington, D.C.',
 'Uruguay': 'Montevideo'}

### Deleting an item from a dictionary
Use the [del statement](https://docs.python.org/3/tutorial/datastructures.html#the-del-statement) to permanently delete an item from your dictionary.

In [38]:
# let's remove the most recent country-capital pairing we just added
del capitals_dictionary["France"]

# display
capitals_dictionary

{'Costa Rica': 'San Jose',
 'India': 'New Delhi',
 'Kenya': 'Nairobi',
 'Latvia': 'Riga',
 'Morocco': 'Rabat',
 'Peru': 'Lima',
 'South Korea': 'Seoul',
 'USA': 'Washington, D.C.',
 'Uruguay': 'Montevideo'}

## Bonus: For loops and dictionaries
As with lists, you can iterate over the items in your dictionary with for loop. However, given the different manner in which data is stored for dictionaries, there are a few important distinctions.

For instance, you need to specify both the key and the value to access both elements:

In [40]:
# print each country-capital pairing
for country, capital in capitals_dictionary.items():
    print(capital, "is the capital of", country)

Washington, D.C. is the capital of USA
Seoul is the capital of South Korea
Nairobi is the capital of Kenya
Lima is the capital of Peru
San Jose is the capital of Costa Rica
New Delhi is the capital of India
Rabat is the capital of Morocco
Riga is the capital of Latvia
Montevideo is the capital of Uruguay

Notice, above, the comma separated variables (country, capital). Since we're dealing with keys and corresponding values here, both are necessary to output the country-capital pairings. Additionally, the [.items() method](https://docs.python.org/3/tutorial/datastructures.html#looping-techniques) is needed to access both the keys and the values.

In [41]:
# here is the output of .items() for reference
# this is what the for loop above is iterating on
capitals_dictionary.items()

dict_items([('USA', 'Washington, D.C.'), ('South Korea', 'Seoul'), ('Kenya', 'Nairobi'), ('Peru', 'Lima'), ('Costa Rica', 'San Jose'), ('India', 'New Delhi'), ('Morocco', 'Rabat'), ('Latvia', 'Riga'), ('Uruguay', 'Montevideo')])

You can also loop through just keys or values.

In [42]:
# display countries in your dictionary
for country in capitals_dictionary.keys():
    print(country, "is a country in our dictionary")

USA is a country in our dictionary
South Korea is a country in our dictionary
Kenya is a country in our dictionary
Peru is a country in our dictionary
Costa Rica is a country in our dictionary
India is a country in our dictionary
Morocco is a country in our dictionary
Latvia is a country in our dictionary
Uruguay is a country in our dictionary

In [43]:
# display capitals in your dictionary
for capital in capitals_dictionary.values():
    print(capital, "is a capital in our dictionary")

Washington, D.C. is a capital in our dictionary
Seoul is a capital in our dictionary
Nairobi is a capital in our dictionary
Lima is a capital in our dictionary
San Jose is a capital in our dictionary
New Delhi is a capital in our dictionary
Rabat is a capital in our dictionary
Riga is a capital in our dictionary
Montevideo is a capital in our dictionary

## Bonus: Nested dictionaries
If you want to store various entries for a specific entity, it's likely you'll be doing some nesting. You can store dictionaries inside a list, lists inside a dictionary, or dictionaries inside a dictionary. Below, we'll include some examples using the [World Bank data site](https://data.worldbank.org/) explore what that looks like with country data.

### Dictionary inside a list (and list inside a dictionary)

In [49]:
# dictionaries inside a list
list_of_dictionaries = [
    {
        "Country:": "Indonesia",
        "GDP (in billions):": 1042, # 1.4 trillion
        "Population (in millions):": 267.663, # 267 million
        "Primary flag colors:": ["red", "white"] # list nested inside a dictionary
    },
    {
        "Country:": "Brazil",
        "GDP (in billions):": 1869, # 1.8 trillion
        "Population (in millions):": 209.469, # 209 million
        "Primary flag colors": ["green", "blue", "yellow"]
    },
    {
        "Country:": "Canada",
        "GDP (in billions):": 1713, # 1.7 trillion
        "Population (in millions):": 37.058, # 37 million
        "Primary flag colors:": ["red", "white"]
    }
]

# display
list_of_dictionaries

[{'Country:': 'Indonesia',
  'GDP (in billions):': 1042,
  'Population (in millions):': 267.663,
  'Primary flag colors:': ['red', 'white']},
 {'Country:': 'Brazil',
  'GDP (in billions):': 1869,
  'Population (in millions):': 209.469,
  'Primary flag colors': ['green', 'blue', 'yellow']},
 {'Country:': 'Canada',
  'GDP (in billions):': 1713,
  'Population (in millions):': 37.058,
  'Primary flag colors:': ['red', 'white']}]

In [50]:
# access one of the countries via list index
list_of_dictionaries[0]

{'Country:': 'Indonesia',
 'GDP (in billions):': 1042,
 'Population (in millions):': 267.663,
 'Primary flag colors:': ['red', 'white']}

In [52]:
# advance one layer deeper
list_of_dictionaries[0]["Country:"]

'Indonesia'

### Dictionary inside a dictionary

In [2]:
dictionary_of_dictionaries = {
    "Indonesia": {
        "GDP (in billions):": 1042, # 1.4 trillion
        "Population (in millions):": 267.663, # 267 million
        "Primary flag colors:": ["red", "white"] # list nested inside a dictionary
    },
    "Brazil": {
        "GDP (in billions):": 1869, # 1.8 trillion
        "Population (in millions):": 209.469, # 209 million
        "Primary flag colors": ["green", "blue", "yellow"]
    },
    "Canada": {
        "GDP (in billions):": 1713, # 1.7 trillion
        "Population (in millions):": 37.058, # 37 million
        "Primary flag colors:": ["red", "white"]
    }
}

dictionary_of_dictionaries

{'Brazil': {'GDP (in billions):': 1869,
  'Population (in millions):': 209.469,
  'Primary flag colors': ['green', 'blue', 'yellow']},
 'Canada': {'GDP (in billions):': 1713,
  'Population (in millions):': 37.058,
  'Primary flag colors:': ['red', 'white']},
 'Indonesia': {'GDP (in billions):': 1042,
  'Population (in millions):': 267.663,
  'Primary flag colors:': ['red', 'white']}}

In [5]:
# dictionary items appear as follows
dictionary_of_dictionaries.items()

dict_items([('Indonesia', {'GDP (in billions):': 1042, 'Population (in millions):': 267.663, 'Primary flag colors:': ['red', 'white']}), ('Brazil', {'GDP (in billions):': 1869, 'Population (in millions):': 209.469, 'Primary flag colors': ['green', 'blue', 'yellow']}), ('Canada', {'GDP (in billions):': 1713, 'Population (in millions):': 37.058, 'Primary flag colors:': ['red', 'white']})])

In [4]:
# access a particular key, in this case the country name
dictionary_of_dictionaries["Brazil"]

{'GDP (in billions):': 1869,
 'Population (in millions):': 209.469,
 'Primary flag colors': ['green', 'blue', 'yellow']}

And, of course, we can apply for loops on the dictionaries nested within the dictionary. Below, we will look at each country's GDP. Note that the specific element in the .items() output that you want to access (in this case the GDP value) is accessed by providing the relevant key ("GDP (in billions):") inside the square brackets.

In [7]:
for country, country_data in dictionary_of_dictionaries.items():
    print(country, "has a GDP of", country_data["GDP (in billions):"], "billion.")

Indonesia has a GDP of 1042 billion.
Brazil has a GDP of 1869 billion.
Canada has a GDP of 1713 billion.

# Section 6: Functions
Sometimes, it can be repetitive to write the same code over and over to achieve the same output. Functions allow for you to apply the same operations across different parameters (inputs that the function can act upon), saving you time and making your code look cleaner

### Calculating a tip

Let's say you want to determine how much tip to leave on your restaurant receipt. To determine the tip amount you need to know the total amount and the tip percentage you intend to leave. Keeping that in mind, we'll define a function that with _total_ and _tip percentage_ **parameters**.

In [8]:
# define our tip function
def tip_calc_fun(total, tip_percentage):
    print(total * tip_percentage)

Now that our function is defined, let's pass some **arguments** to it. These argument values are stored by the two parameters we defined above.

In [9]:
# apply the function on two arguments
tip_calc_fun(total = 72, tip_percentage = 0.2)

14.4

It is worth noting that you do not need to include the parameters in your function call. You can simply places arguments in the appropriate positions.

In [10]:
tip_calc_fun(54, 0.18)

9.719999999999999

Now say you always tip 18% no matter what. You can save some time by not having to input the tip percentage every time you call your function. To do this, simply assign the percentage argument to the parameter when defining the function.

In [11]:
# define our tip function, with 18% as the default
def tip_calc_fun(total, tip_percentage = 0.18):
    print(total * tip_percentage)

In [12]:
# calculate 18% tip on any amount
tip_calc_fun(48)

8.64

But, even if you assign a default percentage, you can still pass different tip percentage arguments explicitly or by position.

In [14]:
# explicitly pass a 20% tip
tip_calc_fun(50, tip_percentage = 0.2)

10.0

In [15]:
# pass 20% tip by position
tip_calc_fun(50, 0.2)

10.0